<div class="ui warning icon message">
  <i class='ui icon warning circle'></i>
  <div class="content">
    <p>
      All attendees, sponsors, partners, volunteers and staff at our hackathon are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We expect cooperation from all participants to ensure a safe environment for everybody.
    </p>
  </div>
</div>
