<div class="content ui grid coc-buttons">
    <div class="left aligned one wide column">
      <a href="/edit" class='ui labeled icon button'>
        <i class='pencil icon'></i>
        Update
      </a>

    </div>
    <div class="right aligned fifteen wide column">
      <a href='/supporters/new?is_custom=true' class="ui labeled icon green button">
        <i class='configure icon'></i>
        Customize
      </a>
      <a href='#supporters' class="ui labeled icon blue button">
        <i class='plus icon'></i>
        Support
      </a>
    </div>

</div>
