<div id='credits' class="ui horizontal divider">
  Credits
</div>

<div class="ui small segment">
  <p>
    Created by <a href="https://betta.io">Cristiano Betta</a>
    with help of a lot of people.
    <a href="https://github.com/cbetta/hackcoc/">
       Code available on GitHub
     </a>. Feel free to make any suggestions or create your
     own version.
  </p>

  <p>
    The Hack Code of Conduct is inspired by and indebted to
    the <a href='http://confcodeofconduct.com/'>Conference Code of Conduct</a>.
  </p>
</div>
