<div class='well'>
  <p>
    This is the generic verion of the Code of Conduct. In your version of this document you should provide the details of your contact person here.
  </p>

  <p>
    <a href='/supporters/new'>You can create a custom version or show your support</a> right here (<a href='http://hackcodeofconduct.org/battlehack_london'>example</a>), or alternatively <a href='#supporters'>view who has supported this document</a>.
  </p>
</div>
