<div class="ui info icon message">
  <i aria-hidden="true" class="ui info circle icon"></i>
  <div class="content">
    <p>
      This is the generic version of the Code of Conduct. In your version of this document you should provide the details of your contact person here.
    </p>
  </div>
</div>

