<div class="ui info icon message">
  <i class="ui info circle icon"></i>
  <div class="content">
    <p>
      This is the generic version of the Code of Conduct. In your version of this document you should provide the details of your contact person here.
    </p>
  </div>
</div>

<div class="content ui grid coc-buttons">
  <div class="left aligned eight wide column">
    <a href="/edit" class='ui labeled icon button'>
      <i class='pencil icon'></i>
      Update yours
    </a>

  </div>
  <div class="right aligned eight wide column">
    <a href='/supporters/new?is_custom=true' class="ui labeled icon green button">
      <i class='configure icon'></i>
      Make your own
    </a>
  </div>
</div>
