<div class="ui attached info icon message">
  <i class="ui info circle icon"></i>
  <div class="content">
    <p>
      This is the generic version of the Code of Conduct. In your version of this document you should provide the details of your contact person here.
    </p>
  </div>
</div>
<div class='ui attached message'>
  <div class="content ui stackable grid">
      <div class="right aligned sixteen wide column">
        <div class="ui buttons">
          <a href='/supporters/new?is_custom=true' class="ui button">
            Customize
          </a>
          <div class="or"></div>
          <a href='#supporters' class="ui blue button">
            Support
          </a>
        </div>
      </div>
  </div>
</div>
