<h2 class='ui dividing header' id='supporters'>
  Supporters
  <div class="sub header">
    <%= Supporter.supporting.count %> and counting
  </div>
</h2>

<div class='ui info message'>
  <p>
    The <a href='/'>Hack Code of Conduct</a> has been signed but the following people.
  </p>
</div>

<div class="content ui grid coc-buttons">
  <div class="left aligned eight wide column">
    <a href='/supporters/new?is_custom=true' class="ui labeled icon green button">
      <i class='configure icon'></i>
      Make your own
    </a>

  </div>
  <div class="right aligned eight wide column">
    <a href='/supporters/new' class="ui labeled icon blue button">
      <i class='plus icon'></i>
      Show your support
    </a>
  </div>

</div>

<br><br>

<div class='ui stackable three cards'>
  <%= render Supporter.supporting.by_vip.order(:created_at) %>
</div>

<br><br>
