<h2 class='ui dividing header' id='supporters'>
  Supporters
  <div class="sub header">
    <%= Supporter.supporting.count %> and counting
  </div>
</h2>

<div class='ui info message'>
  <p>
    The <a href='/'>Hack Code of Conduct</a> has been signed by the following people.
  </p>
</div>


<br><br>

<div class='ui stackable three cards'>
  <%= render Supporter.supporting.by_vip.order(:created_at) %>
</div>

<br><br>
