<h2 class='ui dividing header'>
  <small><i aria-hidden="true" class='code icon'></i></small>
  <div class="content">
    The Quick Version
  </div>
</h2>

<div class='ui segments'>
  <div class='ui segment'>
    Our hackathon is dedicated to providing a safe and comfortable environment and a harassment-free experience for everyone, regardless of the following.
  </div>
  <div class='ui segment'>

    <ul>
      <li>gender</li>
      <li>gender identity and expression</li>
      <li>age</li>
      <li>sexual orientation</li>
      <li>disability</li>
      <li>physical appearance</li>
      <li>body size</li>
      <li>race</li>
      <li>ethnicity</li>
      <li>nationality</li>
      <li>religion</li>
      <li>political views</li>
      <li>previous hackathon attendance or lack of</li>
      <li>computing experience or lack of</li>
      <li>chosen programming language or tech stack</li>
    </ul>
  </div>

  <div class='ui segment'>
    We do not tolerate harassment of hackathon participants in any form. Sexual language and imagery is not appropriate at any hackathon venue, this includes the following.
  </div>

  <div class='ui segment'>
    <ul>
      <li>hacks</li>
      <li>talks, presentations, or demos</li>
      <li>workshops</li>
      <li>any parties associated to the hackathon</li>
      <li>social media</li>
      <li>any other online media</li>
    </ul>
  </div>

  <div class='ui segment'>
    Hackathon participants violating these rules <strong>may be sanctioned or expelled</strong> from the hackathon <strong>without a refund</strong> (if applicable) at the discretion of the hackathon organisers.
  </div>
</div>
