
<h2 class='ui dividing header'>
  <small><i aria-hidden="true" class='file text outline icon'></i></small>
  <div class="content">
    The Less Quick Version
  </div>
</h2>

<div class="ui segments">
  <div class='ui segment'>
    Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, nationality, religion or political views, sexual images in public spaces, deliberate intimidation, stalking, following, photography or audio/video recording against reasonable consent, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
  </div>

  <div class='ui segment'>
    Photography is encouraged, but other participants must be given a reasonable chance to opt out from being photographed. If they object to the taking of their photograph, comply with their request. It is inappropriate to take photographs in contexts where people have a reasonable expectation of privacy (in bathrooms or where participants are sleeping).
  </div>

  <div class='ui segment'>
    Participants asked to stop any harassing behavior are expected to comply immediately.
  </div>

  <div class='ui segment'>
    As this is a hackathon, we like to explicitly note that the hacks created at our hackathon are equally subject to the anti-harassment policy.
  </div>

  <div class='ui segment'>
    Sponsors and partners are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Sponsor representatives (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.
  </div>

  <div class='ui segment'>
    If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of hackathon staff immediately.
  </div>

  <div class='ui segment'>
    Hackathon staff will be happy to help participants contact any local security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the hackathon. We value your attendance.
  </div>

  <div class='ui segment'>
    If a participant engages in harassing behavior, the hackathon organisers may take any action they deem appropriate. This includes warning the offender, expulsion from the hackathon with no refund (if applicable), or reporting their behaviour to local law enforcement.
  </div>

  <div class='ui segment'>
    We expect participants to follow these rules at hackathon and workshop venues and hackathon-related social events.
  </div>
</div>
