<header role='banner'>
  <h1 class='ui padded left aligned dividing header'>
    Edit your profile
  </h1>

  <nav role='navigation'>
    <div class="sub header">
      <div class="ui breadcrumb">
        <a class='underlined' href='/' class="section">Hack Code of Conduct</a>
        <div class="divider"> / </div>
        <div class="active section">Edit Supporter</div>
      </div>
    </div>
  </nav>
</header>

<br>

<main role='main'>
  <%= render 'form' %>
</main>
