<h2 class='ui dividing header'>Support or Customize</h2>

<div class='ui message'>
  By signing the <a href='/'>Hack Code of Conduct</a> you are able to show your support to this document and give it validity. Additionally you can use it to create your own customised Code of Conduct for your event.
</div>

<%= render 'form' %>
