<header role='banner'>
  <h1 class='ui padded left aligned dividing header'>
    Support or Customize
  </h1>

  <nav role='navigation'>
    <div class="sub header">
      <div class="ui breadcrumb">
        <a class='underlined' href='/' class="section">Hack Code of Conduct</a>
        <div class="divider"> / </div>
        <div class="active section">New Supporter</div>
      </div>
    </div>
  </nav>
</header>

<br>

<main role='main'>
  <div class='ui message'>
    By signing the Hack Code of Conduct you are able to show your support to this document and give it validity. Additionally you can use it to create your own customised Code of Conduct for your event.
  </div>

  <%= render 'form' %>
</main>
