a:focus, .ui.button:focus {
  outline-style: auto	!important;
  outline-width: 5px !important;
  outline-color: auto !important;
}

.ui.button:focus {
  outline-color: rgb(59, 153, 252) !important;
}

p a,
.extra.content a {
  text-decoration: underline;
}

.a11y {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0
}
