a:focus,
.ui.button:focus {
  outline-style: auto	!important;
  outline-width: 5px !important;
  outline-color: auto !important;
}

.ui.button:focus {
  outline-color: rgb(59, 153, 252) !important;
}

.toggle.checkbox input:focus + label:after,
.slider.checkbox input:focus + label:after {
  border: 5px solid rgb(59, 153, 252) !important;
  box-sizing: content-box;
  margin-top: -5px;
  margin-left: -5px !important;
}

p a,
.extra.content a {
  text-decoration: underline;
}

.a11y {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0
}

.underlined {
  text-decoration: underline;
}


div.ribbon {
	position: absolute;
	top: 14px;
  right: 15px;
}

.float-right {
  float: right;
}

.speech-button {
  border-radius: 8px;
  background-color: Transparent;
  outline: none;
  border-style:none;
  font-size: 12pt;
  padding: 0px 10px;
}
