/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 */

 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 200;
 }

 h1 {
   font-family: 'Cutive Mono';
   font-weight: bold;
 }

 h2 {
   border-bottom: 1px solid #BBB;
   padding-bottom: .3em;
   margin-top: 1.2em;
   margin-bottom: .6em;
 }

 h3 {
   font-size: 1.4em;
   font-weight: bold;
   line-height: 0.8em;
 }

 h4 {
   font-size: 1.2em;
 }

 p {
   font-size: 1.2em;
   line-height: 1.6em;
   margin-bottom: 1.8em;
 }

 .well p:last-child {
   margin-bottom: 0px;
 }

 .supporter p {
   font-size: 1.2em;
   margin-bottom: 0px;
 }

 .supporter {
   min-height: 12em;
   word-wrap: break-word;
 }
