@media (max-width: 500px) {

  .coc-buttons .left.aligned.column {
    width: 100% !important;
  }

  .coc-buttons .right.aligned.column {
    width: 100% !important;
  }

  .coc-buttons .button {
    width: 100% !important;
  }
}
