@media (max-width: 767px) {
  .coc-buttons .button {
    font-size: 0.7em !important;
  }

  .coc-buttons .left.aligned.column {
    float: left !important;
    width: 30% !important;
  }

  .coc-buttons .right.aligned.column {
    float: left !important;
    width: 70% !important;
  }

  .coc-buttons .right.aligned.column .button {
    margin-bottom: 1em !important;
  }
}
