h1 {
  font-family: 'Cutive Mono';
  font-weight: bold;
  font-size: 7vw;
  padding: 1em 0;
  text-align: center;
}

h1.padded,
h2 {
  padding-top: 2em !important;
}

@media (max-width: 600px) {
  h1 {
    padding-top: 2em;
  }

  h1 .sub {
    padding-top: 1em;
  }
}

@media (min-width: 767px) {
  h1 {
    font-size: 3em;
  }
}
