<header role='banner'>
  <h1 class='ui padded left aligned dividing header'>
    Request an edit link
  </h1>

  <nav role='navigation'>
    <div class="sub header">
      <div class="ui breadcrumb">
        <a class='underlined' href='/' class="section">Hack Code of Conduct</a>
        <div class="divider"> / </div>
        <div class="active section">Request edit link</div>
      </div>
    </div>
  </nav>
</header>

<br>

<main role='main'>
  <div class='ui message'>
    <p>
      This page is for people who have already supported the Hack Code of Conduct, or added a custom version and want to edit it.
    </p>
    <p>
      You can <a href="/supporters/new">create your own</a> Hack Code of Conduct in a few minutes.
    </p>
  </div>

  <%= simple_form_for(@supporter, url: '/email', html: { role: 'form' }) do |f| %>
    <div class="ui segment">
      <%= f.input :email, { label: "Email", required: true, error_html: { id: 'email_error' }, input_html: { "aria-describedby" => 'email_error' } }.reject{ |k,v| ( k == :error_html || k == :input_html ) && @supporter.errors[:email].nil? } %>
    </div>

    <br>

    <a href="/" class="ui left floated button">Cancel</a>

    <%=button_tag type: 'submit', class: 'ui right floated blue labeled icon button' do %>
      <i aria-hidden="true" class='mail icon'></i>
      Request a link to edit
    <% end %>

    <br><br>
  <% end %>

</main>
