<h2 class='ui dividing header'>
  Request an edit link

  <div class="sub header">
    <div class="ui breadcrumb">
      <a href='/' class="section">Hack Code of Conduct</a>
      <div class="divider"> / </div>
      <div class="active section">Request edit link</div>
    </div>
  </div>
</h2>

<div class='ui message'>
  <p>
    This page is for people who have already supported the Hack Code of Conduct, or added a custom version and want to edit it.
  </p>
  <p>
    You can <a href="/supporters/new">create your own</a> Hack Code of Conduct in a few minutes.
  </p>
</div>

<%= simple_form_for(Supporter.new, url: '/email') do |f| %>
  <div class="ui segment">
    <%= f.input :email %>
  </div>

  <br>

  <a href="/" class="ui left floated button">Cancel</a>

  <%=button_tag type: 'submit', class: 'ui right floated blue labeled icon button' do %>
    <i aria-hidden="true" class='mail icon'></i>
    Request a link to edit
  <% end %>

  <br><br>
<% end %>
