<!DOCTYPE html>
<html>
<head>
  <title>The Hack Code of Conduct</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://use.typekit.com/czp0aft.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

<%= yield %>

</body>
</html>
